<h1>Searching Users Using the GitHub API</h1>
<mat-card>
  <mat-form-field>
    <input matInput (keyup)="search($event.target.value)" placeholder="Search GitHub Users">
  </mat-form-field>
  <br/><br/>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter Results">
  </mat-form-field>
  <div class="mat-elevation-z8">
    <mat-table #table [dataSource]="searchResults_dataSource" matSort>
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="login">
        <mat-header-cell *matHeaderCellDef mat-sort-header>User Name</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.login}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="popup(row)" class="element-row"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</mat-card>
<footer>&copy; 2018 | Tanya Mott</footer>
<router-outlet></router-outlet>
